
.projectcontainer{
  padding-bottom: 5rem;
}

  .hoveranimation {
    color: #fff;
    position: relative;
    border-radius: 0 !important;
    border: none;
    transition:all 0.3s ease 0s;
    cursor: pointer;
    height: 100%;
}
.hoveranimation:hover,
.hoveranimation.active:hover{
    color: #ffffff;
}
.hoveranimation:before{
    content: "";
    position: absolute;
    top: -7px;
    left: 0;
    background-color:rgba(255, 255, 255, 0);
    width: 0%;
    height: 2px;
    transition:all 0.3s ease 0s;
}
.hoveranimation:after{
    content: "";
    position: absolute;
    bottom: -7px;
    right: 0;
    background-color:rgba(255, 255, 255, 0);
    width: 0%;
    height: 2px;
    transition:all 0.3s ease 0s;
}
.hoveranimation:hover:before,
.hoveranimation:hover:after,
.hoveranimation.active:before,
.hoveranimation.active:after{
    width: 100%;
    background-color:rgba(255, 255, 255, 1);
}

.hoveranimation > .imgcontainer > img{
  max-width: 100%;
  max-height: 100%;

}

.hoveranimation > .imgcontainer{
  width: 100%;
  height: auto;
  position: relative;
}


.spacer{
    height: 30px;
}
.rotated_box {
    background: linear-gradient(180deg,rgba(0,0,0,0.9) 0.5%, rgba(0, 0, 0, 0.9) 99.5%);
    margin: auto;
    width: 100%;
    -webkit-transform: skewY(-2deg);
    -moz-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
    -o-transform: skewY(-2deg);
    transform: skewY(-2deg);
  }
  
  .rotated_box > .wrapper {
    max-width: 72rem;
    margin: auto !important;
    -webkit-transform: skewY(2deg);
    -moz-transform: skewY(2deg);
    -ms-transform: skewY(2deg);
    -o-transform: skewY(2deg);
    transform: skewY(2deg);
  }

  .centered{
    width: 100%;
    text-align: center;
    font-family: "Roboto";
  }

  .filter {
    filter: blur(3.5px);
  }

  @media screen and (min-width: 736px) {
    
  }

.tag{
  height: 22px;
  min-width: 30px;
  width: auto;
  padding-left: 7px;
  padding-right: 7px;
  margin: 2px;
  color: white;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  float: left;
  text-align: center;
  border-radius: 5px;
}
.engine{
  background-color: #ff583b;
}

.company{
  background-color: #6791ea;
  position: absolute;
  top: 0;
  right: 0;
}

.gametag{
  background-color: #2e6c92;
}
.langtag{
  background-color: #b741b5;
}

.tag-container{
  overflow: auto;
  width: 100%;
  height: auto;
}